{% extends "index.html" %}
{%block content%}

<h1>Listado de tareas</h1>

   <div class="row">

     <table class="default">

       <tr>

         <th>Pendiente</th>

         <th>En Proceso</th>

         <th>Finalizado</th>

       </tr>
{% for task in tasks %}

       <tr>
        <td>
            {%if task[4] == 'Pendiente'%}
            {%include "card.html"%}
            {%endif%}
        </td>

        <td>
            {%if task[4] == 'En Proceso'%}
            {%include "card.html"%}
            {%endif%}
        </td>

        <td>
            {%if task[4] == 'Finalizado'%}
            {%include "card.html"%}
            {%endif%}
        </td>

       </tr>

{% endfor %}



     </table>


   </div>




{%endblock%}