{% extends "index.html" %}
{%block content%}


<div class="card" style="width: 18rem; margin-top: 10%;margin-left: 530px;">
  <div class="card-body">
    <h5 class="card-title">New Task</h5>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
      </div>
      <div class="mb-4">
          <label for="exampleFormControlInput1" class="form-label">Responsible</label>
          <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Responsible">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
  </div>
</div>



{%endblock%}